@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@theme {
  --animate-fade-in-up: fade-in-up 1s forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

